---
import Layout from '../layouts/Layout.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Layout>
	<h1 style="text-align: center;").>Welcome to the S.W.I.F.T Archive!</h1>

	<p>
		In here I'll be trying my best to build a fully working website this time without any help of templates or similar. Every piece of CSS & HTML is fully me. Hopefully in the future I can integrate Javascript also in some cool way or another.
	</p>
	<p>
		The primary objective at the end is to have somewhere where I can not just post and save my written work, but also showcase it to those who may be interested.
		I've seen how incredibly unsophisticated Wattpad can be with writing (not that I ever doubted that), and I've seen how unclean it feels to post on royal road, so I took matters into my own hands.
		Everything here belongs to me, and will stay in my possession thanks to Github's very lovely file hosting. Sure feels safer than Google Drive.
	</p>
	<h2 style="text-align: center;">Want to support me?</h2>
	<p>
		You can support me by reading my stories, helping me build the website and learn more about everything regarding that.
	</p>
</Layout>
