---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const stories = await getCollection("stories");

  return stories.map((story) => ({
    params: { slug: story.id },
    props: { story },
  }));
}

const { story } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{story.data.title}</title>
  </head>

  <body>
    <Layout>
      <h1 class="story-title">{story.data.title}</h1>

    <div class="story-page">
      <div set:html={story.rendered.html} />
    </div>
    </Layout>
  </body>
</html>