<header class="site-header">
  <h1><a href="/swift/">The S.W.I.F.T Archive</a></h1>

  <nav>
    <a href="/swift/stories/">Stories</a>
    <a href="/swift/series/">Series</a>
    <a href="/swift/dossiers/">Dossiers</a>
  </nav>
</header>